.counter {
    border: 1px solid black;
    max-width: 600px;
    margin: auto;
    margin-top: 15px;
    padding: 30px;
}

.counter button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;

}

.counter button:hover {
    background-color: rgb(56, 142, 179);
}

.clockControll {
    text-decoration: underline;
    cursor: pointer;
    

}

span {
    color: blue;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 15px;
}
